.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #1f2937;
  border-bottom: 2px solid #38bdf8;
}

.logo {
  margin: 0;
  color: white;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.nav-links a:hover {
  color: #38bdf8;
}

main {
  padding: 32px;
}

.dashboard h1 {
  margin: 16px;
}

.games-block{
  margin:16px;
  border: 1px solid #38bdf8;
  border-radius: 4px;
}

.game-block{
  margin:16px;
  padding: 16px;
  border: 1px solid #38bdf8;
  border-radius: 4px;
}


.cta-button {
  display: inline-block;
  margin-top: 2rem;
  padding: 12px 28px;
  background-color: #38bdf8;
  color: #1f2937;
  border-radius: 6px;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.1rem;
}

.cta-button:hover {
  background-color: white;
}